@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-03-09 15:50:05
 * @version $Id$
 */
 #img{
 	width:1024px;
 	height:582px;
 }
 #content{
 	position:absolute;
 	top:100px;
 	left:550px;
 	color:#9AFF02;
 	font-size: 30px;
 	font-family: Arial,Helvetica,sans-serif,SimSun;
 }
#A{
	position:absolute;
 	top:220px;
 	left:550px;
 	font-size:20px;
}
#B{
	position:absolute;
 	top:260px;
 	left:550px;
 	font-size:20px;
}
#C{
    position:absolute;
 	top:300px;
 	left:550px;
 	font-size:20px;
}