@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-03-29 22:06:46
 * @version $Id$
 */
 *{
 margin:0;
 padding:0;
 }
.box{
	width:304px;
	height:512px;
}
.box1{
	box-sizing:border-box;
	width:306px;
	height:30px;
	border-style:solid;
	border-color:rgb(238,238,238);
	border-width:1px 0 0 1px;
	text-align: center;/*水平居中*/
	line-height: 28px;/*垂直居中*/
}
.A{
	float:left;
	width:60px;
	height:28px;
	background:white;
	border-style:solid;
	border-color:rgb(238,238,238);
	border-width:0 1px 0 0;
}
.B{
	float:left;
	width:60px;
	height:28px;
	background:rgb(247,247,247);
	border-style:solid;
	border-color:rgb(238,238,238);
	border-width:0 1px 1px 0;
}
.box2{
	box-sizing:border-box;
	width:306px;
	height:75px;
	border-style:solid;
	border-color:rgb(238,238,238);
	border-width:0 1px 1px 1px;
	background:white;
	text-align:center;
}
.a{
	box-sizing:border-box;
	width:270px;
	height:20px;
	border-width:1px;
	border-style:solid;
	border-color:rgb(192,192,192) rgb(250,250,250) rgb(213,213,213) rgb(105,105,105);
	position: absolute;
	left: 10px;
	top: 42px;
}
.b{
	box-sizing:border-box;
	width:270px;
	height:20px;
	border-width:1px;
	border-style:solid;
	border-color:rgb(165,165,165) rgb(245,245,245) rgb(144,144,144) rgb(105,105,105);
	position:absolute;
	top:70px;
	left:10px;
}
.box3{
	box-sizing:border-box;
	width:306px;
	height:128px;
	border-style:solid;
	border-color:rgb(238,238,238);
	border-width:0 1px 1px 1px;
	background:white;
	text-align: center;/*水平居中*/
	line-height: 27px;/*垂直居中*/
}
.C{
	width:65px;
	height:67px;
	background:rgb(255,68,0);
	position:absolute;
	top:116px;
	left:14px;
}
.D{
	width:97px;
	height:26px;
	background:rgb(255,68,0);
	position:absolute;
	top:190px;
	left:20px;
}
.E{
	width:80px;
	height:26px;
	background:rgb(255,68,0);
	position:absolute;
	top:190px;
	left:124px;
}
.F{
	width:80px;
	height:26px;
	background:rgb(255,68,0);
	position:absolute;
	top:190px;
	left:211px;
}
.c{
	box-sizing:border-box;
	width:195px;
	height:20px;
	border-width:1px;
	border-style:solid;
	border-color:rgb(134,134,134) rgb(221,221,221) rgb(128,128,128) rgb(247,247,247);
	position:absolute;
	top:130px;
	left:85px;
}
.d{
	box-sizing:border-box;
	width:195px;
	height:20px;
	border-width:1px;
	border-style:solid;
	border-color:rgb(190,190,190) rgb(221,221,221) rgb(196,196,196) rgb(247,247,247);
	position:absolute;
	top:155px;
	left:85px;
}
.box4{
	box-sizing:border-box;
	width:306px;
	height:47px;
	border-style:solid;
	border-color:rgb(238,238,238);
	border-width:0 1px 0 1px;
	background:white;
}
.e{
	box-sizing:border-box;
	width:272px;
	height:20px;
	border-width:1px;
	border-style:solid;
	border-color:rgb(189,189,189) rgb(245,245,245) rgb(168,168,168) rgb(105,105,105);
	position:absolute;
    left:11px;
    top: 246px;
}
.box5{
	box-sizing:border-box;
	width:306px;
	height:232px;
	border-style:solid;
	border-color:rgb(238,238,238);
	border-width:0 0 1px 1px;
	background:white;
}
.f{
	float:left;
	width:121px;
	height:155px;
	border-style:solid;
	border-color:rgb(238,238,238);
	border-width:1px 1px 0 0;
	display: flex; 
	flex-direction:column;
    justify-content:center;
    align-items:center;
}
.g{
	float:left;
	width:60px;
	height:77px;
	border-style:solid;
	border-color:rgb(238,238,238);
	border-width:1px 1px 0 0;
	display: flex; 
	flex-direction:column;
    justify-content:center;
    align-items:center;
}
.f:before{
	display:block;
    width:45px;
	height:66px;
	background:rgb(255,68,0);
	margin-bottom:15px;
	content:"";
}
.g:before{
	display:block;
    width:35px;
	height:35px;
	background:rgb(255,68,0);
	margin-bottom:6px;
	content:"";
}